<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {css:'css/product-create-edit.css'}); %>
</head>

<body>
    <%- include('../partials/header'); %>
        <main class="principal">
            <h2 class="title">Editar producto</h2>
            <section>
                <form action="/productos/<%=producto.id%>?_method=PUT" method="POST" class="form-create">
                    <div>
                        <div>
                            <label for="title">Nombre del producto:
                                <input type="text" class="input-text" placeholder="Nombre del producto"
                                    name="title" value="<%= producto.title %>" id="title" required />
                            </label>
                        </div>
                        <div>
                            <label for="description">Descripción
                                <input type="text" class="input-text" placeholder="Descripcion" name="description"
                                    value="<%= producto.description %>" id="description" required />
                            </label>
                        </div>
                        <div>
                            <label for="category" class="form-label">Categoría:</label>
						    <select name="category" value="<%= producto.category %>" id="category" class="form-input" required>
							    <option value="">Elegí</option>
							    <option value="salud">Salud</option>
							    <option value="alimentos">Alimentos</option>
                                <option value="belleza">Belleza</option>
						    </select>
                        </div>
                        <div>
                            <label for="cost">Precio
                                <input type="number" class="input-text" placeholder="Precio" name="cost" value="<%= producto.cost %>" id="cost"
                                    required />
                            </label>
                        </div>
                        <div>
                            <label for="img">Foto de producto</label>
                            <input type="file" name="img"/>
                        </div>
                        <button type="submit" class="submit">Editar producto</button>
                    </div>
                    
                </form>
        </main>
        <%- include('../partials/footer'); %>
</body>

</html>