<!DOCTYPE html>
<html lang="en">
  <head>
    <!--head partial-->
    <%- include('../partials/head', {css:'/css/productCart.css'}); %>
    <!--fin partial-->
</head>
<body class="cuerpo">

  <%- include('../partials/header'); %>

  <main class="principal">
    
      <section class="principal__section section--migadepan">
        <div class="contenedor contenedor--migadepan">
          <%- include('../partials/breadcrumb', {local: 'Carrito de compras'}); %>
        </div>
      </section>
      <section class="principal__section section--productos">
        <div class="contenedor__productos productos--order">

           <%- include('../partials/products-shopping-cart'); %>
        
        </div>
        
      </section>
      <section class="principal__section section--destacados">
      <div class="contenedor contenedor--tarjetas">
        <h2 class="principal__titulo-section">También te puede interesar</h2>

        <% listaDeCarrito.filter(function(product){
          return product.popular == true
       }).forEach(function(product){ %>
         <%- include('../partials/products', {producto: product}); %>
       <% }); %>

      </div>
      </section>
    </div>
  </main>

  <%- include('../partials/footer'); %>
    <%- include('../partials/scripts'); %>
    <script src="/js/shoppingCart.js"></script>
</body>
</html>
