<!DOCTYPE html>
<html lang="en">
  <head>
    <!--head partial-->
    <%- include('../partials/head', {css:'/css/productCart.css'}); %>
    <!--fin partial-->
</head>
<body class="cuerpo">

  <%- include('../partials/header'); %>

  <main class="principal">
    
      <section class="principal__section section--migadepan">
        <div class="contenedor contenedor--migadepan">
          <%- include('../partials/breadcrumb', {local: 'Pedido'}); %>
        </div>
      </section>
      <section class="principal__section section--productos">
        <div class="contenedor__productos productos--order">

           <%- include('../partials/order'); %>
        
        </div>
        
      </section>

    </div>
  </main>

  <%- include('../partials/footer'); %>
    <%- include('../partials/scripts'); %>
    <script src="/js/shoppingCart.js"></script>
</body>
</html>
