<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head', {css:'/css/product-create-edit.css'}); %>
</head>

<body>
    <%- include('../../partials/header'); %>
        <main class="principal">
            <section class="principal__section section--migadepan">
                <div class="contenedor contenedor--migadepan">
                  <%- include('../../partials/breadcrumb', {local: 'Editar'}); %>
                </div>
              </section>
              <div class="contenedor contenedor--crear">
            <h2 class="title">Editar producto</h2>
            <section>
                <form action="/usuarios/<%=usuario.id%>?_method=PUT" method="POST" class="form-create" enctype="multipart/form-data">
                    <div>
                        <div>
                            <label for="first_name">Nombre
                                <input type="text" class="input-text" placeholder="Nombre"
                                    name="first_name" value="<%= usuario.first_name %>" id="first_name" required />
                            </label>
                        </div>
                        <div>
                            <label for="last_name">Apellido
                                <input type="text" class="input-text" placeholder="Apellido" name="last_name"
                                    value="<%= usuario.last_name %>" id="last_name" required />
                            </label>
                        </div>
                            <h1>COMPLETAR LO QUE FALTA</h1>
                        <div>
                            
                        <button type="submit" class="submit">Editar producto</button>
                    </div>
                    
                </form>
            </div>
        </main>
        <%- include('../../partials/footer'); %>
</body>

</html>