<!DOCTYPE html>
<html lang="en">
  <head>
      <!--head partial-->
      <%- include('./partials/head', {css:'css/styles.css'}); %>
      <link rel="stylesheet" href="css/slider.css">
      <!--fin partial-->
  </head>

  <body class="cuerpo">

    <%- include('./partials/header'); %>

    <main class="principal">

        <!--primera parte-->
<!--         <img class="imagen__banner" src="img/imagenesHome/banner_home.png" alt="Banner Home"/> -->

      <div>
        <div class="slider">
          <div class="slides" id="slide-container">

          </div>

          <a id="prevSlide" class="slideNav prev-slide"><svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 451.847 451.847">
              <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
        c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
        c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
            </svg></a>
          <a id="nextSlide" class="slideNav next-slide"><svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 451.847 451.847">
              <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
        L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
        c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
            </svg></a>
          <ol class="pagination" id="pagination">

          </ol>
        </div>
      </div>
      
      <section class="iconos-iniciales">
        <div>
          <a href="/productos#salud"><i class="fa-solid fa-heart"></i></a>
          <p><a href="/productos#salud">Salud</a></p>
        </div>

        <div>
          <a href="/productos#alimentos"><i class="fa-solid fa-utensils"></i></a>
          <p><a href="/productos#alimentos">Alimentos</a></p>
        </div>

        <div>
          <a href="/productos#belleza"><i class="fa-solid fa-bag-shopping"></i></a>
          <p><a href="/productos#belleza">Belleza</a></p>
        </div>
      </section>
        <!--primera parte-->
      
        <section class="principal__section section--destacados">
          <div class="contenedor contenedor--tarjetas">
            <h2 class="principal__titulo-section">También te puede interesar</h2>
            
            <% listaDeProductos.forEach(function(product){ %>
              <%- include('./partials/products', {producto: product}); %>
            <% }); %> 

        </div>
        </section>
      </div>
    </main>
    <%- include('./partials/footer'); %>
      <%- include('./partials/scripts'); %>
  </body>
  <script src="js/slider.js"></script>
</html>