<article class="tarjeta tarjeta--destacados">
    <section>
      <h1><%= producto.title %></h1>
        <div class="contenedor-image">
            <img src="/<%= producto.img %>" alt="Miel">
        </div>
        <div class="descripcion-producto">
          <p><%= producto.description %></p>
        </div>
    
        <div class="boton-cantidad">
          <select class="compra__cantidad" name="Cantidad">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>
    
        <div class="precio-producto">
          <p><%= producto.cost %></p>
        </div>
    
        <div class="boton-agregar-carro">
          <a class="link" href="/productos/carrito">
            <button class="tarjeta__boton boton--buy boton">
              <i class="icono icono--carrito fa-solid fa-cart-shopping"></i>
              Agregar al carro
            </button>

            <a href="/productos/edit/<%=producto.id%>?_method=PUT" class="action-button edit">EDITAR PRODUCTO</a>
          
            <form action="/productos/<%=producto.id%>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
          </a>
        </div>
      </section>
</article>

