<section>
  <div class="boton-cantidad">
    <h1>VISTA DETALLE USUARIO</h1>
  </div>

    <h3>ID: <%= usuario.user_id %></h3>
    <h3>Nombre: <%= usuario.first_name %></h3>
    <h3>Apellido: <%= usuario.last_name %></h3>
    <h3>Genero: <%= usuario.gender %></h3>
    <h3>Fecha de nacimiento: <%= usuario.birthdate %></h3>
    <h3>Direccion: <%= usuario.address %></h3>
    <h3>Ciudad: <%= usuario.city %></h3>
    <h3>País: <%= usuario.country %></h3>
    <h3>Fecha de suscripcion: <%= usuario.subscription_date %></h3>
  
      
    </section>
</article>

