<!DOCTYPE html>
<html lang="en">
  <head>
    <!--head partial-->
    <%- include('../partials/head', {css:'/css/product-detail.css'}); %>
    <!--fin partial-->
</head>
  <body class="cuerpo">
      <%- include('../partials/header'); %>
    <main class="principal">
      
        <section class="principal__section section--migadepan">
          <div class="contenedor contenedor--migadepan">
            <ol class="lista lista--migadepan">
                <li class="item__lista"><i class="fa-solid fa-house"></i></li>
                <li class="item__lista">detalle Usuario</li>
            </ol> 
          </div>
        </section>
        <section>
         
          <div class="container" style="margin-top: 40px;">
            <div class="row">
              <div class="col-md-3">
                <h2>Hola <%= usuario.first_name  %></h2>
                <img src="/img/imgUsers/<%= usuario.profile_picture %>" alt="">
                <br>
                <br>
                <div class="alert alert-success"><%= usuario.email %></div>
              </div>
            </div>
          </div>
          
        </section>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>